#top-navigation{
    height: 50px;
    width: 100%;
    border: 1px solid #333;
}
#sidebar{
    position: absolute;
    right: 0;
    width: 20%;
    height: 100%;
    border-left: 1px solid rgba(0,0,0,0.1);
}
#grid-wrapper{
    position: absolute;
    height: 100%;
    width:80%;
}
#grid{
    height: 100%;
    background-color: rgba(0,0,0,0.05)
}
.square{
    height: 10%;
    width: 9.75%;
    background-color: #FFF;
    float: left;
    border-radius: 3px;
    margin: 1px;
}
.highlight{
    box-shadow: 0px 0px 3px 0px rgba(255,255,0,0.8);
}
.selected{
    box-shadow:0px 0px 2px 1px rgba(0,200,200,0.9);
}
.grass{
    background-color: rgba(0,125,0,0.5);
}
.rock{
    background-color: rgba(100,100,100,0.5);
}
.water{
    background-color: rgba(30,144,255,0.5);
}
.tree{
    background-color: rgba(160,82,45,0.8);
}